@page
@model WebApplication3.Views.Reports.Reports

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <a href="@Url.Action("ExportReport", "Report")">Generate Report</a>
</div>
</body>
</html>